
<div class="container">
    <h3 style="margin-bottom: 130px; font-weight: 900;" class="white-text" >Hiking Log</h3>
</div>
{{!--    
<ul class="collection ">
 {{#each entries}}
    <div class="row">
        <div class="col l4">
            <li class="collection-item">
                <h4 style="font-weight: 900;">{{dataValues.title}}</h4>
                <h5 style="font-weight: 600;" >{{dataValues.dateHiked}}</h5>
                <p class="description" id="descriptionEntry">{{dataValues.description}}</p>
            </li>
        </div>
    </div>
 {{/each}}
</ul> --}}

 {{#each entries}}
    <div class="container center ">
            <div class="row">
                <div class="col l4">
                    <div class="card #00bfa5 teal accent-4">
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4" style="margin-top: 13%; font-weight: 900;">{{dataValues.title}}<i class="material-icons right">more_vert</i></span>
                            <p style="font-weight: 900;">{{dataValues.dateHiked}}</p>
                                <p style="margin-top: 13%; margin-right: 10%; margin-bottom: 13%; font-weight: 600;" class=" btn #00897b teal darken-1"><a class="black-text activator">View Journal</a></p>
                                        </div>
                                        <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">{{dataValues.title}}<i class="material-icons right">close</i></span>
                                        
                                        <p>{{dataValues.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
  {{/each}}
                