
<div class="container center">
<h3 class="white-text" style="font-weight: 900; margin-bottom: 19%;">Trails near {{ placeName }}</h3>

<ul class="">
    {{#each trails}}
    <li class="collection-item white-text  #00897b teal darken-1 z-depth-5" style=" border-radius: 60px; margin-bottom: 90px;">
        <div class="row">
            <div class="col l4">
            <img style=" display: inline-block; position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%; margin-top: 3%;" class="responsive-img" src="{{imgMedium}}" alt="trail image for {{name}}">
            
            </div>

            <div class="col l7 right">

            <h4 style="font-weight: 800;">{{name}}</h4>
            <h5 style="font-weight: 800;">{{location}}</h5>
            <p style="font-weight: 800;">Distance: {{length}} miles</p>
            <p style="font-weight: 800;">Rating: {{stars}}/5</p>
            <iframe src={{mapUrl}}></iframe> <br>
            <p style="font-weight: 800;">{{summary}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4">
            <a href="/journal/{{name}}/{{id}}"><button class="btn waves-effect waves-light #00bfa5 teal accent-4"   style="margin-bottom: 3%;"  name="action">Add Journal<i class="material-icons right">book</i></button></a>
            </div>
        </div>
    </li>

    {{!-- {{map}} --}}
    {{/each}}
</ul>

</div>



